* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
li {
	list-style: none;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {
	zoom: 1;
}
.clear {
	clear: both;
}
html {
	height: 100%;
}
body {
	height: 100%;
}
.wrapper {
	margin: 0 auto;
	height: 100%;
}
.wrapper-logo-column {
	width: 70px;
	height: 100%;
	float: left;
	position: relative;
}
@media (max-width: 1024px) {
	.wrapper-logo-column {
		width: 50px;
	}
}	
.logo-column {
	position: relative;
	height: 100%;
}
.wrapper-logo-column:after {
    box-shadow: 4px 0px 4px 0px rgba(240,240,240,0.9);
    content: " ";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
}    
.logo {
	margin: 0 auto;
	margin-top: 25px;
	width: 32px;
	height: 30px;
	background-image: url(img/logo.png);
	background-repeat: no-repeat; 
}
.question {
	position: absolute;
	left: 23px;
	bottom: 50px;
	width: 29px;
	height: 29px;
	background-image: url(img/question.png);
	background-repeat: no-repeat;
}
@media (max-width: 1024px) {		
	.question {
		left: 10px;
	}
}	
.content {
	margin-left: 70px;
	height: 100%;
}
@media (max-width: 1024px) {		
	.content {
		margin-left: 50px;
	}
}	
.main-content {
	height: 100%;
}
.salary:after {
	content: "";
	margin-left: 10px;
	margin-top: -5px;
	background: url(img/ruble.png) no-repeat;
	display: inline-block;
	width: 9px;
	height: 14px;
	vertical-align: middle;
}
.carshering a {
	display: inline-block;
	line-height: 82px;
}
.carshering a img {
	padding-left: 50px;
	margin-right: 6px;
	line-height: 82px;
	vertical-align: middle;
	width: 19px;
	height: 19px;
	background-repeat: no-repeat; 
}
@media (max-width: 1024px) {		
	.carshering a img {
		padding-left: 0;
	}
}	
.working-personal-info p {
	display: inline-block;
	vertical-align: middle;
	line-height: 80px;
}
.salary, .business-trip, .carshering {
	vertical-align: middle;
	font: normal 19px Arial;
	letter-spacing: 0.46px;
	color: #000;
	line-height: 82px;
}
.salary {
	padding-left: 12px;
}
.working-personal-info {
	height: 82px;
	background-color: #f2f6f7;
	border-bottom: 1px solid #f0f4f5;
}
@media (max-width: 1024px) {		
	.working-personal-info span {
		font-size: 16px;
		margin-left: 20px;
	}
	.working-personal-info span:first-child {
		margin-left: 10px;
	}
}	
.business-trip {
	margin-left: 40px;
}
.search {
	padding-left: 13px;
	vertical-align: middle;
	font: normal 16px Arial;
	color: #cccccc;
	line-height: 60px;
}
@media (max-width: 1024px) {		
	.search {
		padding-left: 10px;
		font-size: 15px;
	}
}	
.search img {
	max-width: 100%;
}
.search .question-white {
	margin-top: 5px; 
	padding-right: 26px;
	float: right;
}
@media (max-width: 1024px) {		
	.search .question-white {
		padding-right: 10px;
	}
}	
.correct a {
	font: normal 16px Arial;
	letter-spacing: 1.4px;
	color: #26b4cf;
	text-transform: uppercase;
}
@media (max-width: 1024px) {		
	.correct a {
		font-size: 14px;
	}
}	
.correct {
	padding-left: 12px;
	padding-right: 12px;
	vertical-align: middle;
	line-height: 57px;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
}
@media (max-width: 1024px) {		
	.correct {
		padding-top: 12px;
		line-height: 15px;
		height: 45px;		
	}
}	
.correct a:last-child {
	padding-left: 12px;
}
@media (max-width: 1024px) {		
	.correct a:last-child {
		padding-left: 0;		
	}
}
.department {
	width: 25%;
}
.department, .collaborators, .trips-corrects {
	position: relative;
	height: 100%;
}	
.wrapper-department, .wrapper-designers, .wrapper-trips {
	padding-top: 124px;
	box-sizing: border-box;
	height: 100%;
}
.wrapper-department ul, .wrapper-designers ul, .wrapper-trips ul {
	height: 100%;
	overflow: auto;
}
.header-department, .header-collaborators  {
	position: absolute;
	top: 0;
}
.trips-corrects .correct {
	position: absolute;
	top: 65px;
}
.wrapper-department-item {
	margin-left: 10px;
	border-bottom: solid 1px #f0f4f5;
}
.department-item {
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 30px;
	margin-right: 10px;
}
@media (max-width: 1024px) {		
	.department-item {
		padding-bottom: 13px;
	}		
	.department-item, .designer {
		padding-left: 12px;
		padding-right: 12px;
	}		
	.department-item span, .designer span {
		font-size: 14px;
		line-height: 21px;
	}
}
.wrapper-designer {
	margin-left: 13px;
	border-bottom: 1px solid #f2f2f2;
}
.wrapper-department-item {
	padding-bottom: 10px;
	padding-top: 10px;
}
.active .department-item, .active .designer {	
	background-color: #e6e6e6;
	border-radius: 4px;
}
.active {
	border-bottom: none;
}
.active .name-item {
	color: #505050;
}
.name-item {
	font: normal 19px Arial;
	color: #191919;	
}
@media (max-width: 1024px) {		
	.name-item {
	font-size: 16px;
	}
}	
.department-item .name-item {
	letter-spacing: 0.5px;	
}
.quantity, .working-working-days, .working-week-end, .position, .phone {
	font: normal 16px Arial;
	color: #929292;	
}
.active .quantity, .active .working-working-days, .active .working-week-end, .active .position, .active .phone {
 color: #727272;
}

.quantity, .working-working-days, .working-week-end {
	letter-spacing: 0.1px;	
}
.quantity {
	line-height: 30px;
}
.working-working-days, .working-week-end {
	line-height: 20px;
	letter-spacing: 0px;
}
.department ul {
	padding-top: 23px;
}
.department span, .collaborators span {
	display: block;
} 
.department, .wrapper-collaborators, .trips-corrects {
	float: left;
	height: 100%;
}
.wrapper-collaborators {
	width: 27%;
	height: 100%;
}
.collaborators {
	border-left: 1px solid #f2f2f2;
	border-right: 1px solid #f2f2f2;
	height: 100%; 
}
.wrapper-designer:first-child {
	margin-top: 33px;
}
.designer {
	margin-right: 12px;
	padding-top: 25px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
}
@media (max-width: 1024px) {		
	.designer {
		padding-bottom: 25px;
	}
}	
.designer .name-item {
	letter-spacing: 0.3px;
}
.position {
	line-height: 28px;
}
@media (max-width: 1024px) {		
	.position {
		padding-top: 5px;
		padding-bottom: 5px;
		line-height: 20px;
	}
}
@media (max-width: 1024px) {		
	.position {
		padding-top: 5px;
		padding-bottom: 5px;
		line-height: 20px;
	}
}
.phone {
	letter-spacing: 0.4px;
	line-height: 14px;
}
.trips-corrects {
	width: 48%;
}
.trips {
	margin-left: 62px;
	display: block;
}
@media (max-width: 1024px) {		
	.trips {
		margin-left: 15px;
	}
}
.trip-first, .trip {
	padding-bottom: 18px;
	border-bottom: 1px solid #f2f2f2;
}
.heard-trip {
	padding-top: 33px;
	font: normal 41px Arial;
	letter-spacing: -0.7px;
	color: #191919;
}
@media (max-width: 1024px) {		
	.heard-trip {
		font-size: 33px;
	}
}
.trip-total, .trip-movement, .trip-parking, .trip-waiting {
	float: left;
}
.trip-total {
	padding-right: 26px;
}
@media (max-width: 768px) {
	.trip-total {
		padding-right: 52px;
		padding-bottom:  5px;
	}
}
.trip-date {
	height: 15px;
	font: normal 15px Arial;
	letter-spacing: 0.6px;
	color: #323334;
}
@media (max-width: 1024px) {		
	.trip-date {
		font-size: 12px;
	}
}
.trip-description {
	padding-top: 10px;
	font: normal 16px 'Sans-serif';
	letter-spacing: -0.2px;
	color: #b6b6b7;
}
@media (max-width: 1024px) {		
	.trip-description {
		padding-top: 2px;
		font-size: 14px;
	}
}
.trip-time {
	padding-top: 0;
	font: normal 19px Arial;
	letter-spacing: 1.5px;
	color: #191919;
}
.trip-movement {
	padding-right: 6px;
}
@media (max-width: 768px) {
	.trip-movement {
		padding-right: 0;
	}
}
.trip-parking {
	text-align: center;
	padding-right: 12px;
}
@media (max-width: 768px) {
	.trip-parking {
		clear: left;
		padding-right: 48px;
	}
}
.trip-total :last-child {
	font-size: 41px;
	letter-spacing: 1.5px;
}
@media (max-width: 1024px) {		
	.trip-total :last-child {
		font-size: 32px;
	}
}
.trip {
	padding-top: 21px;
}
.trip-first {
	padding-top: 21px;
}